<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/trip_organizer</property>
		<property name="hibernate.connection.user">root</property>
		<property name="hibernate.connection.password">1111</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>

		<mapping class="com.to.entities.User"></mapping>
		<mapping class="com.to.entities.Trip"></mapping>
		<mapping class="com.to.entities.Team"></mapping>
		<mapping class="com.to.entities.AccommodationDetails"></mapping>
		<mapping class="com.to.entities.Activities"></mapping>
		<mapping class="com.to.entities.ArrFlightDetails"></mapping>
		<mapping class="com.to.entities.CarRentalDetails"></mapping>
		<mapping class="com.to.entities.DeptFlightDetails"></mapping>
		
	</session-factory>
</hibernate-configuration>